* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
/*  cursor: url(img/cursor.png), auto;*/
}

main {
  height: 100vh;
  width: 100vw;
  background-color: burlywood;
  overflow: hidden;
  font-family: 'Ubuntu', arial, sans-serif;
}

.upperCover {
  width: 60%;
  height: 60%;
  background-color: #99938f;
  display: flex;
  margin: 2% 2% 0 2%;
  border: 1px solid black;
}

.screen {
  width: 94%;
  height: 90%;
  margin: auto;
  background-image: url(img/desktop_background.jpg);
  background-position: center center;
  background-size: cover;
  border-radius: 5px;
/*  display: flex;*/
  
}

.taskbar {
  width: 100%;
  height: 10%;
  background-color: #000000;
  position: relative;
  top: 90%;
  display: flex;
  flex-direction: row;
  z-index: 999;
}

.start {
  background-color: #000000;
  color: #ffffff;
  height: 100%;
  width: 15%;
  cursor: pointer;
  font-family: 'Ubuntu', arial, sans-sefir;
/*  border: none;*/
}

button:focus {
  outline: 0;
}

.date {
  color: #ffffff;
  display: flex;
  margin-left: auto;
  margin-right: 2%;
  font-size: 1.3rem;
}

.date span {
  margin-top: auto;
  margin-bottom: auto;
}

.menuStart {
  height: 70%;
  width: 35%;
  background-color: #000000;
  -webkit-box-shadow: 6px -5px 14px 6px rgba(0,0,0,0.4);
  -moz-box-shadow: 6px -5px 14px 6px rgba(0,0,0,0.4);
  box-shadow: 6px -5px 14px 6px rgba(0,0,0,0.4);
  display: flex;
/*  display: none;*/
  visibility: hidden;
  flex-direction: column;
  z-index: 999;
  position: relative;
  bottom: -10%;
  
}

.menuOption {
  width: 100%;
  height: 11.25%;
  color: #ffffff;
/*  text-transform: uppercase;*/
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5rem;
  display: flex;
  cursor: pointer;
}

.menuOption p {
  margin-left: 4%;
  
}

.textEditor {
  margin-top: 5%;
}

.author {
  margin-top: auto;
  margin-bottom: 2%;
}

.menuOption .fa {
  margin-left: auto;
  margin-right: 4%;
}

.menuOption .fa-usd {
  margin-right: 5.5%;
}

.menuOption .fa-question {
  margin-right: 6%;
}

.menuOption .fa-cog {
  margin-right: 5%;
}

.menuOption .fa-user-o {
  margin-right: 5%;
}

.stats .fa {
  font-size: 1.7rem;
  margin-right: 5%
}

.author .fa {
  margin-right: 6%;
  font-size: 1.8rem;
}

.author p {
  margin-top: 1%;
}

.help .fa {
  font-size: 1.7rem;
}



.window {
  width: 100%;
  height: 90%;
  background-color: #4c4c4c;
  position: relative;
  top: -80%;
  display: none;
}

.windowOpen {
  display: flex;
  flex-direction: column;
}

.windowClose {
  display: none;
}

.windowTopBar {
  width: 100%;
  height: 8%;
  background-color: #000000;
  display: flex;
  flex-direction: row-reverse;
}

.windowTopBar button {
  background-color: #000000;
  width: 5%;
  border: none;
  margin: 0 0 0 1%;
  overflow: hidden;
  cursor: pointer;
}

.windowTopBar button .fa {
  color: #ffffff;
  font-size: 2rem;
}

.textEditorContent {
  width: 98%;
  height: 90%;
  margin: auto;
  background-color: green;
  flex-direction: column;
  
  display: none;
}

.textEditorContentVisible {
  display: flex;
}

.mailContent {
  width: 20%;
  height: 20%;
  margin: auto;
  background-color: red;
  display: none;
}

.mailContentVisible {
  display: flex;
}

.bankContent {
  display: none;
}

.bankContentVisible {
  display: flex;
}

.shopContent {
  display: none;
}

.shopContentVisible {
  display: flex;
}

.statsContent {
  display: none;
}

.statsContentVisible {
  display: flex;
}

.settingsContent {
  display: none;
}

.settingsContentVisible {
  display: flex;
}

.helpContent {
  display: none;
}

.helpContentVisible {
  display: flex;
}

.authorContent {
  display: none;
}

.authorContentVisible {
  display: flex;
}


/*coś nie tak ze statsami*/







.keyboard {
  width: 15%;
  height: 5%;
  background-color: #99938f;
  margin: 0 24.5%;
  border-left: 1px solid black;
  border-right: 1px solid black;
  display: flex;
  flex-direction: row;
}

.board {
  height: 50%;
  width: 35%;
  position: absolute;
  top: 0;
  right: 0;
  margin: 2% 2%;
  background-image: url(img/whiteboard.jpg);
  background-size: cover;
  border: 6px solid #caccce;
}

.board p {
  font-family: 'Permanent Marker', cursive;
  padding: 5px;
  font-size: 2rem;
  text-align: center;
}

.menu {
  background-color: #99938f;
  width: 35%;
  height: 6%;
  position: absolute;
  right: 0;
  top: 52%;
  margin: 2%;
  border: 1px solid black;
}

.pause, .fullscreen {
  width: 15%;
  background-color: #99938f; 
  height: 100%;
  font-size: 2rem;
  cursor: pointer;
  color: forestgreen;
}

.fullscreen {
  color: #000000;
}

.desk {
  width: 100%;
  height: 10%;
  background-color: #7a5132;
  border: 1px solid black;
}

.underDesk {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: #9b805e;
}


.leftLeg, .rightLeg {
  height: 23%;
  width: 5%;
  background-color: #7a5132;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.socket {
  height: 12vh;
  width: 8vh;
  background-color: #ffffff;
  border: 1px solid black;
  margin-left: auto;
  margin-top: 5vh;
  background-image: url(img/socket.jpg);
  background-size: cover;
}

.rightLeg {
 margin-right: 0;
}

.drawer {
  width: 23%;
  height: 14%;
  background-color: #7a5132;
  margin-left: auto;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
}

.handle {
  height: 3.5vh;
  width: 3.5vh;
  background-color: gold;
  border: 1px solid black;
  border-radius: 50%;
  margin: auto;
  
}

.gamePaused {
  color: red;
}

.visible {
  visibility: visible;
}






