* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
/*  cursor: url(img/cursor.png), auto;*/
}

main {
  height: 100vh;
  width: 100vw;
background-color: tan;

  overflow: hidden;
  font-family: 'Ubuntu', arial, sans-serif;
}

.upperCover {
  width: 70%;
  height: 65%;
  
  display: flex;
  margin: 3% 2% 0 7%;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background-color: #3d3d3d;



/*
background: #000000;  
background: -webkit-linear-gradient(to bottom, #434343, #000000);
background: linear-gradient(to bottom, #434343, #000000); 
  */
  
}
 

.screen {
  width: 97%;
  height: 94%;
  margin: auto;
  background-image: url(img/desktop_background.jpg);
  background-position: center center;
  background-size: cover;
  
  -webkit-box-shadow: inset 1px 0px 32px 0px rgba(0,0,0,1);
-moz-box-shadow: inset 1px 0px 32px 0px rgba(0,0,0,1);
box-shadow: inset 1px 0px 32px 0px rgba(0,0,0,1);
  
/*  display: flex;*/
  
}

.taskbar {
  width: 100%;
  height: 8%;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
  top: 92%;
  display: flex;
  flex-direction: row;
  z-index: 999;
  
}

.start {
  background-color: rgba(0, 0, 0, 0.0);
  color: #ffffff;
  height: 100%;
  width: 15%;
  cursor: pointer;
  font-family: 'Ubuntu', arial, sans-sefir;
  border: none;
  border-right: 1px solid gray;
}

.start:hover {
  background-color: rgba(0, 0, 0, 1);
  transition: 0.5s;
}

button:focus {
  outline: 0;
}

.date {
  color: #ffffff;
  display: flex;
  margin-left: auto;
  margin-right: 2%;
  font-size: 1.3rem;
  
}

.date span {
  margin-top: auto;
  margin-bottom: auto;
}

.firstZero {
  display: none;
}

.secondZero {
  display: none;
}

.menuStart {
  height: 70%;
  width: 30%;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 4px -4px 24px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px -4px 24px 0px rgba(0,0,0,0.75);
box-shadow: 4px -4px 24px 0px rgba(0,0,0,0.75);
  display: flex;
/*  display: none;*/
  visibility: hidden;
  flex-direction: column;
  z-index: 999;
  position: relative;
  bottom: -14%;
  
}

.menuOption {
  width: 100%;
  height: 11.25%;
  color: #ffffff;
/*  text-transform: uppercase;*/
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5rem;
  display: flex;
  cursor: pointer;
  border: none;
  background-color: rgba(0, 0, 0, 0.0);
}



.menuOption p {
  margin-left: 4%;
  margin-top: auto;
  margin-bottom: auto;
}

.textEditor, .firstOption {
  margin-top: 5%;
}

.author {
  margin-top: auto;
  margin-bottom: 2%;
}

.menuOption .material-icons {
  margin-left: auto;
  margin-right: 2%;
  margin-bottom: auto;
  margin-top: auto;
}

.menuOption .fa, .menuOption .fas {
  display: flex;
  margin-left: auto;
  margin-right: 4%;
  
  
}

.menuOption .fa-usd {
  margin-right: 5.5%;
}

.menuOption .fa-question {
  margin-right: 6%;
}

.menuOption .fa-cog {
  margin-right: 5%;
}

.menuOption .fa-user-o {
  margin-right: 5%;
}

.stats .fa {
  font-size: 1.7rem;
  margin-right: 5%
}

.author .fa {
  margin-right: 6%;
  font-size: 1.8rem;
}

.author p {
  margin-top: 1%;
}

.help .fa {
  font-size: 1.7rem;
}



.window {
  width: 100%;
  height: 92%;
  background-color: #686868;
  
  
  
  position: relative;
  top: -78%;
  display: none;
  
  
  
  
}

.windowOpen {
  display: flex;
  flex-direction: column;
}

.windowClose {
  display: none;
}

.windowTopBar {
  width: 100%;
  height: 8%;
  background-color: #262626;
  
  display: flex;
  flex-direction: row-reverse;
  
  border: 1px solid black;
  border-bottom: none;
}

.windowTopBar button {
  background-color: #262626;
  
  width: auto;
  border: none;
  margin: 0 0.5% 0 1%;
  overflow: hidden;
  cursor: pointer;
  display: flex;
}

.windowTopBar button .material-icons  {
  color: #ffffff;
 
  font-size: 2.5rem;
  
}

.textEditorContent {
  width: 100%;
  height: 92%;
  margin: auto;
  /*previous color #4c4c4c*/
  background-color: #686868;
  flex-direction: column;
  
  display: none;
  
  border: 1px solid black;
  border-top: none;
}

.textEditorContent h2 {
  color: #ffffff;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.textEditorContent .bookTitle {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  font-family: 'Ubuntu', arial, sans-serif;
}

.textEditorContent .genre {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  font-family: 'Ubuntu', arial, sans-serif;
}

.textEditorContent .target {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  font-family: 'Ubuntu', arial, sans-serif;
}

.nextButton {
  border: none;
  width: 15%;
  height: 10%;
  background-color: lightgreen;
  font-family: 'Ubuntu', arial, sans-serif;
  margin-left: auto;
  margin-right: 5%;
  cursor: pointer;
}

.firstNextButton {
  margin-top: auto;
  margin-bottom: 2%;
}

.textEditorContent2 {
  display: none;
  flex-direction: column;
  margin: auto;
  height: 92%;
  width: 100%;
  border: 1px solid black;
  border-top: none;
}

.features1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  
}

.features1 section {
  display: flex;
  flex-direction: row;
}

.textEditorContent2 h2 {
  color: #ffffff;
  text-align: center;
  margin-top: 2%;
}

.features1 p {
  color: #ffffff;
  font-size: 1.4rem;
  margin-top: 3%;
}

.leftP {
  margin-left: auto;
  margin-right: 10%;
  width: 100px;
  color: #ffffff;
  font-size: 1.4rem;
  margin-top: 3%;
}

.rightP {
  margin-left: 10%;
  margin-right: auto;
  width: 100px;
  color: #ffffff;
  font-size: 1.4rem;
  margin-top: 3%;
}

.features1 input {
  margin-top: 3%;
  width: 40%
}

.secondNextButton {
  margin-top: auto;
  margin-bottom: 2%;
}


.textEditorContent3 {
  display: none;
  flex-direction: column;
  height: 92%;
  width: 100%;
  border: 1px solid black;
  border-top: none;
  margin: auto;
}

.textEditorContent3 h2 {
  color: #ffffff;
  text-align: center;
  margin-top: 2%;
}

.thirdNextButton {
  margin-top: auto;
  margin-bottom: 2%;
}


.textEditorContent4 {
  color: #ffffff;
  font-size: 1.6rem;
  
  display: none;
  flex-direction: column;
  height: 92%;
  width: 100%;
  border: 1px solid black;
  border-top: none;
  margin: auto;
}

.textEditorContent4 p {
  margin: auto;
  display: none;
}

.skillUnlocked {
  font-size: 1.5rem;
  margin-left: 5%;
  margin-right: auto;
  
  
}

.skillUnlocked:first-of-type {
  margin-top: auto;
}

.skillUnlocked .material-icons {
  color: mediumspringgreen;
}




.fourthNextButton {
  margin-top: auto;
  margin-bottom: 2%;
}

.textEditorContent5 {
  color: #ffffff;
  font-size: 1.6rem;
  
  display: none;
  flex-direction: column;
  height: 92%;
  width: 100%;
  border: 1px solid black;
  border-top: none;
  margin: auto;
}

.textEditorContent5 h2 {
  color: #ffffff;
  text-align: center;
  margin-top: 2%;
}

.bar {
  width: 80%;
  height: 10%;
  background-color: gray;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.progress {
  width: 0;
  height: 100%;
  background-color: lightgreen;
  display: flex;
}

.progress span {
  margin: auto;
}

@keyframes progressAnimation {
    from {width: 0;}
    to {width: 100%;}
}

.animationClass {
  animation-name: progressAnimation;
  animation-duration: 10s;
  animation-delay: 1s;
  animation-timing-function: linear;
}

.animationFastWriting {
  animation-name: progressAnimation;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-timing-function: linear;
}

.sendBook {
  height: 15%;
  margin-top: auto;
}

.publishByYourself {
  height: 15%;
  margin-top: 1%;
  margin-bottom: 1%;
}



.textEditorContent6 {
  color: #ffffff;
  
  display: none;
  flex-direction: column;
  height: 92%;
  width: 100%;
  border: 1px solid black;
  border-top: none;
  margin: auto;
  overflow: auto;
}

.changeMyMind {
  width: 10%;
  height: 2rem;
  display: flex;
  margin-top: 1%;
  border: none;
  background-color: lightgreen;
  text-align: center;
  border: 0.5px solid black;
  cursor: pointer;
}

.changeMyMind .material-icons {
  margin: auto;
  font-size: 2rem;
}

.textEditorContent6 section {
  display: flex;
  flex-direction: row;
  
  margin-bottom: 2%;
  font-family: 'Ubuntu', arial, sans-serif;
  border-bottom: 0.5px solid #000000;
}

.textEditorContent6 h2 {
  text-align: center;
  font-size: 1.8rem;
} 

.textEditorContent6 h3 {
  text-align: center;
  margin-top: 4%;
  
  font-size: 1.5rem;
}

.textEditorContent6 input {
  width: 40%;
}

.textEditorContent6 p {
  margin-bottom: 2%;
}

.costsInfo {
  font-size: 1.8rem;
  width: 100%;
  height: auto;
  display: flex;
}

.costsInfo span {
  margin-bottom: auto;
  line-height: 3rem;
}



.refresh {
  border: none;
  background-color: lightgreen;
  margin-left: 1%;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  margin-bottom: 1%;
  font-size: 2rem;
  border: 0.5px solid black;
  display: flex;
}

.refresh .material-icons {
  margin: auto;
}

.payPublish {
  height: 3rem;
  width: auto;
  margin-left: auto;
  margin-right: 2%;
  border: none;
  background-color: lightgreen;
  font-size: 1.5rem;
  line-height: 3rem;
  padding-left: 2%;
  padding-right: 2%;
  border: 0.5px solid black;
  cursor: pointer;
}




.textEditorContentVisible {
  display: flex;
}







.mailContent {
  height: 92%;
  width: 100%;
  border: 1px solid black;
  border-top: none;
  margin: auto;
  background-color: #686868;
  flex-direction: column;
  
  display: none;
  overflow-y: auto;
}

.emptyInbox {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  color: #ffffff;
  font-size: 1.6rem;
  position: absolute;
  right: 41%
  
}

.messageBar {
  min-width: 100%;
  min-height: 15%;
  background-color: gray;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  margin-bottom: 0.5%;
  z-index: 5
}

.messageBar span {
  font-size: 1.3rem;
  color: #ffffff;
  margin-bottom: auto;
  margin-top: auto;
  font-weight: bold;
}

.messageBar .sender {
  margin-left: 2%;
  margin-right: 15%;
  
}

.messageBar .topic {
  margin-right: auto;
}

.messageBar .yearOfReceived {
  margin-right: 2%;
}


.letter {
  width: 98%;
  height: 100%;
  margin: auto;
  background-color: #686868;
  flex-direction: column;
  color: #ffffff;
  overflow-y: auto;
  display: none;
  z-index: 10;
}

.letter h2 {
  text-align: center;
  margin-bottom: 5%;
  font-size: 1.8rem;
}

.letter p {
  text-align: left;
  font-size: 1.3rem;
}

.sign {
  margin-top: auto;
  margin-bottom: 2%;
  border: 0.5px solid black;
}

.backToInbox {
  width: 10%;
  height: 2rem;
  border: none;
  
  background-color: lightgreen;
  font-family: 'Ubuntu', arial, sans-serif;
  cursor: pointer;
  display: flex;
  border: 0.5px solid black;
}

.backToInbox .material-icons {
  margin-right: auto;
  margin-left: auto;
  font-size: 2rem;
}



.mailContentVisible {
  display: flex;
}

.bankContent {
  display: none;
  height: 92%;
  width: 100%;
  border: 1px solid black;
  border-top: none;
  background-color: #686868;
}

.bankContentVisible {
  display: flex;
}

.shopContent {
  display: none;
  
  height: 92%;
  width: 100%;
  border: 1px solid black;
  border-top: none;
  margin: auto;
  background-color: #686868;
  flex-direction: column;
}

.shopCategory {
  border: none;
  background-color: lightgreen;
  width: 40%;
  height: 20%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Ubuntu', arial, sans-serif;
  cursor: pointer;
}

.courses {
  margin-top: auto;
  margin-bottom: 5%;
}

.wallpapers {
  margin-bottom: auto;
}


.backToCategories {
  width: 10%;
  min-height: 2rem;
  display: flex;
  margin-top: 1%;
  margin-left: 2%;
  border: none;
  background-color: lightgreen;
  text-align: center;
  border: 0.5px solid black;
  cursor: pointer;
}

.backToCategories .material-icons {
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
}


.coursesContent {
  display: none;
  
  width: 100%;
  height: 100%;
  
  border: 1px solid black;
  border-top: none;
  margin: auto;
  background-color: #686868;
  flex-direction: column;
  overflow: auto;
}

.coursesContent h1 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 4%;
}

.courseOffert {
  display: flex;
  flex-direction: column;
  
  min-height: 60%; 
  width: 35%;
  background-color: #000000;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  border-radius: 5px;
  color: #ffffff;
  font-family: 'Ubuntu', arial, sans-serif;
  
}

.courseOffert:first-of-type {
  margin-top: 1%;
}

.courseOffert h2 {
  margin-top: 5%;
  font-size: 1.8rem;
  text-align: center;
}

.courseOffert p {
  font-size: 1.7rem;
  margin: auto;
  text-align: center;
}

.courseOffert .buyCourse {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  width: 50%;
  height: 40px;
  border: none;
  background-color: lightgreen;
  border: 0.5px solid black;
  font-family: 'Ubuntu', arial, sans-serif;
  border-radius: 2px;
  cursor: pointer;
}

.secondHeader {
  margin-top: 8%;
}

.wallpapersContent {
  display: none;
  
  height: 92%;
  width: 100%;
  border: 1px solid black;
  border-top: none;
  margin: auto;
  background-color: #686868;
  flex-direction: column;
}




















.shopContentVisible {
  display: flex;
}

.statsContent {
  display: none;
  
  height: 92%;
  width: 100%;
  border: 1px solid black;
  border-top: none;
  margin: auto;
  background-color: #686868;
  flex-direction: column;
  text-align: center;
}



.statsContent h2 {
  margin-top: 2%;
  color: #ffffff;
}

.statsContent button {
  width: 50%;
  height: 25%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Ubuntu', arial, sans-serif;
  border: none;
  cursor: pointer;
}

.writerStats{
  margin-top: auto;
  margin-bottom: 5%;
  background-color: aqua;
}

.publishingHouseStats {
  margin-bottom: auto;
  background-color: forestgreen;
}

.statsContent2 {
  display: none;
  
  height: 92%;
  width: 100%;
  border: 1px solid black;
  border-top: none;
  margin: auto;
  background-color: #686868;
  flex-direction: column;
  text-align: left; 
  font-size: 1.4rem;
  color: #ffffff;
  overflow: auto;
}

.lvlOfFame {
  margin-bottom: 3%;
}

.lastBook {
  margin-bottom: 3%;
}

.child {
  margin-left: 4%;
}

.statsContent3 {
  display: none;
  
   height: 92%;
  width: 100%;
  border: 1px solid black;
  border-top: none;
  margin: auto;
  background-color: #686868;
  flex-direction: column;
  text-align: center;
}






.statsContentVisible {
  display: flex;
}


.settingsContent {
  display: none;
  height: 92%;
  width: 100%;
  border: 1px solid black;
  border-top: none;
  background-color: #686868;
}

.settingsContentVisible {
  display: flex;
}

.helpContent {
  display: none;
  height: 92%;
  width: 100%;
  border: 1px solid black;
  border-top: none;
  background-color: #686868;
}

.helpContentVisible {
  display: flex;
}

.authorContent {
  display: none;
  
  height: 92%;
  width: 100%;
  border: 1px solid black;
  border-top: none;
  background-color: #686868;
}

.authorContentVisible {
  display: flex;
}

.premiereContent {
  display: none;
  
  height: 92%;
  width: 100%;
  border: 1px solid black;
  border-top: none;
  background-color: #686868;
  flex-direction: column;
  color: #fff;
}

.premiereContent h1 {
  margin: 2% auto 0;
}

.premiereContent article {

}

.premiereContent h2 {
  font-size: 1.8rem;
  margin: 2% auto 0 auto;
}

.premiereContent h2:first-of-type {
  margin-top: auto; 
}

.premiereContent span {
  margin-left: auto;
  margin-right: auto;
}

.premiereContent span:last-of-type {
  margin-bottom: auto;
}

.rating, .soldPieces, .monthlyRoyalties {
  font-size: 2.8rem
}

.ratingRecord, .soldPiecesRecord, .monthlyRoyaltiesRecord {
  font-size: 1.5rem;
  visibility: hidden;
}

.premiereContentVisible {
  display: flex;
}







.keyboard {
  width: 76%;
  height: 5%;
  background-color: #99938f;
  margin-left: 4%;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  display: flex;
  flex-direction: row;
  
  border-top-right-radius: 5px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 20px;
  
/*
  background: #232526;  
background: -webkit-linear-gradient(to left, #414345, #232526); 
background: linear-gradient(to left, #414345, #232526); 
*/
  
  background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */




}

.touchBar{
  width: 30%;
  height: 40%;
  background-color: dimgray;
  margin-left: auto;
  margin-right: auto;
  
   border-top-right-radius: 2px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 25px;
  
  border: 0.5px solid black;
}

.status {
  position: absolute;
  top: 0;
  right: 0;
  margin: 4% 1%;
  
  height: 50%;
  width: 21%;
  border: 0.5px solid black;
  border-radius: 4px;
  background-color: rgba(61, 61, 61, 1);
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  padding: 1%;
  color: #ffffff;
}







.board {
  height: 20%;
  width: 10%;
  position: absolute;
  top: 0;
  right: 0;
  margin: 2% 2%;
  background-image: url(img/note-42883_1280.png);
  background-size: cover;
  
  font-family: 'Permanent Marker', cursive;
  display: flex;
  flex-direction: column;
  

  
  
}

.board p {
  padding: 5px;
  font-size: 2rem;
  text-align: center;
}

.board span {
  font-size: 1.6rem;
}

.board .spanContainer {
  
}

.board .justName {
  margin-left: 2%;
}

.board .plusOrMinus {
  margin-left: 2%;
}

.board .accountBalance {
  color: green;
}

.board .whatIsPopular {
  margin-left: 2%;
}

.board .fansContainer {
  margin-left: 2%;
}


.menu {
  background-color: rgba(61, 61, 61, 1);
  width: 21%;
  height: 6%;
  position: absolute;
  right: 1%;
  top: 60%;
  display: flex;
  border: 0.5px solid black;
  border-radius: 4px;
  
}



.pause, .mute, .save {
  width: 33%;
  background-color: #99938f; 
  height: 100%;
  font-size: 2rem;
  cursor: pointer;
  color: forestgreen;
  background-color: rgba(61, 61, 61, 1);
  border: none;
}

.pause {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-left: 0.5px;
}

.mute, .save {
  color: #000000;
  
}

.saveAnimation {
  transform: rotate(360deg);
  transition: 1s;
}


.desk {
  width: 100%;
  height: 7%;
  background-color: #7a5132;
  border: 1px solid black;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: linear-gradient(82deg, #432606, #5b3409);
background-size: 400% 400%;
  margin-left: 2%;
}

.underDesk {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: tan;







}


.leftLeg, .rightLeg {
  height: 20%;
  width: 3%;
  background-color: #7a5132;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  background: linear-gradient(82deg, #432606, #5b3409);
background-size: 400% 400%;
}

.socket {
  height: 12vh;
  width: 8vh;
  background-color: #ffffff;
  border: 1px solid black;
  margin-left: auto;
  margin-top: 5vh;
  background-image: url(img/socket.jpg);
  background-size: cover;
  
  display: none;
}

.rightLeg {
 margin-right: 0;  
 margin-left: auo;  
  background: linear-gradient(82deg, #432606, #5b3409);
background-size: 400% 400%;
  display: none;
}

.leftLeg{
  margin-left: 4%;
  width: 4%;
}

.drawer {
  width: 20%;
  height: 14%;
  background-color: #7a5132;
  margin-left: auto;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  background: linear-gradient(82deg, #432606, #5b3409);
background-size: 400% 400%;
  border-bottom-left-radius: 5px;
  
}

.handle {
  height: 3.5vh;
  width: 3.5vh;
  background-color: gold;
  border: 1px solid black;
  border-radius: 50%;
  margin: auto 28% auto auto
  
}

.gamePaused {
  color: red;
}

/*Don't delete this class*/
.visible {
  visibility: visible;
}

.show {
  display: flex;
}

.invisible {
  display: none;
}




/*SECTION OF FIREWORKS ANIMATION*/

.screen{
  overflow: hidden;
}

.premiereContent > .before, .premiereContent > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: -120px -218.66667px blue, 248px -16.66667px #00ff84, 190px 16.33333px #002bff, -113px -308.66667px #ff009d, -109px -287.66667px #ffb300, -50px -313.66667px #ff006e, 226px -31.66667px #ff4000, 180px -351.66667px #ff00d0, -12px -338.66667px #00f6ff, 220px -388.66667px #99ff00, -69px -27.66667px #ff0400, -111px -339.66667px #6200ff, 155px -237.66667px #00ddff, -152px -380.66667px #00ffd0, -50px -37.66667px #00ffdd, -95px -175.66667px #a6ff00, -88px 10.33333px #0d00ff, 112px -309.66667px #005eff, 69px -415.66667px #ff00a6, 168px -100.66667px #ff004c, -244px 24.33333px #ff6600, 97px -325.66667px #ff0066, -211px -182.66667px #00ffa2, 236px -126.66667px #b700ff, 140px -196.66667px #9000ff, 125px -175.66667px #00bbff, 118px -381.66667px #ff002f, 144px -111.66667px #ffae00, 36px -78.66667px #f600ff, -63px -196.66667px #c800ff, -218px -227.66667px #d4ff00, -134px -377.66667px #ea00ff, -36px -412.66667px #ff00d4, 209px -106.66667px #00fff2, 91px -278.66667px #000dff, -22px -191.66667px #9dff00, 139px -392.66667px #a6ff00, 56px -2.66667px #0099ff, -156px -276.66667px #ea00ff, -163px -233.66667px #00fffb, -238px -346.66667px #00ff73, 62px -363.66667px #0088ff, 244px -170.66667px #0062ff, 224px -142.66667px #b300ff, 141px -208.66667px #9000ff, 211px -285.66667px #ff6600, 181px -128.66667px #1e00ff, 90px -123.66667px #c800ff, 189px 70.33333px #00ffc8, -18px -383.66667px #00ff33, 100px -6.66667px #ff008c;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards; }

.premiereContent > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s; }

@-webkit-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-moz-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-o-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-ms-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }










/*
.keyboard {
	margin: 0 auto;
	width: 120px;
	height: 100px;
	background: linear-gradient(to bottom, #c1c1c1, #EFEFEF);
	border-bottom-left-radius: 18px;
	border-bottom-right-radius: 18px;
	perspective-origin: 150% 150%;
	transform-style: preserve-3d;
	transform: rotatex(100deg);
	margin-top: -26px;
	box-shadow: 0 4px 0 0 #D5D5D5;
}
*/
































